<header class="header header-1">
    <div class="wrap">
        <a href="#" class="logo">
            <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1641824770/marak_web/logo/marak_logo_square_amhaxk.png" />
        </a>

        <input class="navigationBtn" type="checkbox" id="navigationBtn" />

        <label class="navigationIcon" for="navigationBtn">
            <span class="navIcon"></span>
        </label>

        <iframe
            src="headerLinks.html"
            onload="this.before((this.contentDocument.body||this.contentDocument).children[0]);this.remove()">
        </iframe>
    </div>
</header>