.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--white);
  z-index: 0;

  .wrap {
    position: relative;
    padding: clamp(unit(1, rem), calc(unit(1, rem) + (1.5 - 1) * var(--calcWidth)), unit(1.5, rem));
  }
}

.cp (@background) {
  position: fixed;
  bottom: 0;
  background: @background;
}

.scroll (@width, @height) {
  position: absolute;
  width: @width;
  height: @height;
  content: var(--scrollImage);
}

.footer {
  //states
  &-01 {
    .credits {
      font-size: 1rem;
      font-weight: var(--fontWeightLight);

      span {
        margin-left: .5rem;
        padding-left: .5rem;
        border-left: 1px solid var(--black);
      }

      img {
        margin-left: .5rem;
        height: 1.5rem;
      }
    }

    .scroll {
      .scroll (3rem, 3rem);

      right: 1rem;
      bottom: clamp(unit(1, rem), calc(unit(1, rem) + (3 - 1) * var(--calcWidth)), unit(3, rem));
      transform: rotate(180deg);
      transition: all 300ms ease-in-out;

      &:hover {
        transform: translateY(-2rem) scale(1.2) rotate(180deg);
      }
    }
  }

  &-02 {
    background: var(--secondaryGradient);

    .credits {
      font-size: 1rem;
      font-weight: var(--fontWeightLight);

      span {
        margin-left: .5rem;
        padding-left: .5rem;
        border-left: 1px solid var(--black);
      }

      img {
        margin-left: .5rem;
        height: 1.5rem;
      }
    }

    .scroll {
      .scroll (3rem, 3rem);

      right: 1rem;
      bottom: 1rem;
      transform: rotate(180deg);
      transition: all 300ms ease-in-out;

      &:hover {
        transform: translateY(-1rem) scale(1.2) rotate(180deg);
      }
    }
  }

  //states CP
  &-cp {
    &-01 {
      .cp (transparent);

      padding-bottom: clamp(unit(.5, rem), calc(unit(.5, rem) + (2 - .5) * var(--calcWidth)), unit(2, rem));

      .credits {
        font-size: 1rem;
        font-weight: var(--fontWeightLight);
        color: var(--white);

        span {
          margin-left: .5rem;
          padding-left: .5rem;
          border-left: 1px solid var(--white);
        }

        img {
          margin-left: .5rem;
          height: 1.25rem;
        }
      }
    }
  }
}
