<div class="hero hero-1">
    <div class="wrap">
        <div>
            <div class="social">
                <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1641912489/marak_web/icons/icon_01_qdu0ol.svg">
                <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1641912491/marak_web/icons/icon_02_aoi5lu.svg">
            </div>

            <h1 id="title"></h1>
            <p id="description"></p>

            <div class="special">
                Investor
            </div>

            <a href="#services" class="scroll"></a>
        </div>

        <div class="image">
            <img id="image" src="https://res.cloudinary.com/patrik-vadura/image/upload/v1641902355/marak_web/Webdesign_JM_02_xpi8qj.png">
        </div>
    </div>
</div>

<script>
    var img = document.getElementById('image');
    img.src = "https://res.cloudinary.com/patrik-vadura/image/upload/v1641902355/marak_web/Webdesign_JM_02_xpi8qj.png";

    let titleContent = "Jmenuji se" + " " + '<span>Ondřej Mařák</span>';
    document.getElementById("title").innerHTML = titleContent;
    document.getElementById("description").innerHTML = descriptionContent;
</script>