<div class="footer-01">
    <div class="wrap">
        <div class="credits">
            © 2021 Ondřej Mařák

            <span>
                Created by

                <img src="https://res.cloudinary.com/patrik-vadura/image/upload/v1642160813/FINOM%20GROUP/Finom%20Media/logo/svg/finom-media_logo_claim_monochrom_l2lexn.svg">
            </span>
        </div>

        <a href="#top" class="scroll"></a>

        <script>
            $("a[href='#top']").click(function() {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            });
        </script>
    </div>
</div>