<div id="portfolio" class="portfolio-01">
    <div class="wrap">
        <div class="wrapS">
            <h2>
                Portfolio
            </h2>

            <p class="description">
                Každý investor by si měl rozhodnout co od své investice očekává. Za jakou dobu bude chtít realizovat zisk, zvolit tedy správný investiční horizont. Jak dokáže reagovat na propady na trhu a tím zvolit rizikovost svého portfolia. Diverzifikace a pravidelné investice jsou dva základní parametry zdravého investičního plánu. Ovládněte své emoce a ovládnete situaci.
            </p>
        </div>

        <iframe
            src="../utilities/skills.html"
            onload="this.before((this.contentDocument.body||this.contentDocument).children[0]);this.remove()">
        </iframe>

        <iframe
            src="portfolioItems.html"
            onload="this.before((this.contentDocument.body||this.contentDocument).children[0]);this.remove()">
        </iframe>

        <div class="wrapS">
            <iframe
                src="../utilities/counter.html"
                onload="this.before((this.contentDocument.body||this.contentDocument).children[0]);this.remove()">
            </iframe>
        </div>
    </div>
</div>