.fontSize(@min, @max) {
  font-size: clamp(unit(@min, rem), calc(unit(@min, rem) + (@max - @min) * var(--calcWidth)), unit(@max, rem));
}

h1 {
  .fontSize(@min: 2, @max: 3);

  font-weight: var(--fontWeightLight);

  span {
    font-weight: var(--fontWeightBold);
  }
}

p {
  .fontSize(@min: .8, @max: .9);

  font-weight: var(--fontWeightLight);

  span {
    font-weight: var(--fontWeightBold);
  }
}
